<html>
<head>
<meta charset="utf-8">
<title>工作台 | 仓储条码管理信息系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="../../libraries/bootstrap/2.3.1/css/bootstrap.css">
<link rel="stylesheet" href="../../libraries/bootstrap/2.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../../libraries/bootstrap/2.3.1/css/bootstrap-responsive.css">
<link rel="stylesheet" href="../../libraries/bootstrap/2.3.1/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="../../stylesheets/css/dtree.css">
<link rel="stylesheet" href="../../stylesheets/css/jquery-ui-1.10.2.custom.css">
<link rel="stylesheet" href="../../stylesheets/css/jquery-ui.css">
<link rel="stylesheet" href="../../stylesheets/css/application-0.1.0.css">
</head>
<body>
<div class="container-fluid">
  <div id="header" class="row-fluid">
    <h1 id="logo" class="span2"></h1>
    <ul id="navbar" class="span7">
         <li class="active"><a href="../warehouse/input/arrival-notice.html" list="list_0">仓库管理</a></li>
         <li><a href="../valueadded-services/spectrum-detection.html" list="list_1">增值业务</a></li>
         <li><a href="../basic_config/basis_data/material_manage.html" list="list_2">基础配置</a></li>
         <li><a href="../system-security/management-of-user.html" list="list_3">系统安全</a></li>
    </ul>
    <div id="profile" class="span3">
      <i class="icon-user"></i>&nbsp;<a data-toggle="modal" data-target="#myModal" href="javascript:void(0);">系统管理员</a>&nbsp;|&nbsp;<a href="workbench.html">我的工作台</a>&nbsp;|&nbsp;<a href="the_system_message.html">系统消息</a>&nbsp;|&nbsp;<a href="../../index.html">注销</a>
    </div>
  </div>  
  <div id="content" class="row-fluid">    
  
  <div class="span2">
      <ul class="second_list" id="list_2" style="display: block; min-height: 719px;">
      <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-0">入库业务</a>
         </h3>
         <ul id="collapse-10-0" class="collapse in menu-item-opened">
      <li>
            <a href="../warehouse/input/arrival-notice.html">到货预告</a>
      </li>
      <li>
            <a href="../warehouse/input/warehouse-input.html">采购入库</a>
      </li>
	  <li>
            <a href="../warehouse/input/withdrawing-application.html">退料入库</a>
      </li>
      <li>
            <a href="../warehouse/input/mrr-report.html">MRR报告</a>
      </li>
         </ul>
      </li>
      <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-1">出库业务</a>
         </h3>
         <ul id="collapse-10-1" class="collapse in menu-item-opened">
      <li>
            <a href="../warehouse/output/an-application-form.html">领料申请</a>
      </li>
      <li>
            <a href="../warehouse/output/warehouse-output.html">领料出库</a>
      </li>
         </ul>
      </li>
	  <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-2">UOSD</a>
         </h3>
         <ul id="collapse-10-2" class="collapse in menu-item-opened">
      <li>
            <a href="templates/warehouse/uosd/uosd-report.html">UOSD报告</a>
      </li>
         </ul>
      </li>
	  <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-2">库存盘点</a>
         </h3>
         <ul id="collapse-10-2" class="collapse in menu-item-opened">
      <li>
            <a href="../warehouse/inventory-verification/take-stock.html">盘点任务</a>
      </li>
	  <li>
            <a href="../warehouse/inventory-verification/take-stock-report.html">盘点报告</a>
      </li>
         </ul>
      </li>
      <li>
         <h3>
            <a data-toggle="warehouse/collapse" data-target="#collapse-10-3">库位管理</a>
         </h3>
         <ul id="collapse-10-3" class="collapse in menu-item-opened">
	  <li>
            <a href="../warehouse/space-management-in-warehouse/storage-location-planning.html">库位规划</a>
      </li>
	  <li>
            <a href="../warehouse/space-management-in-warehouse/location-adjustment.html">物料移库</a>
      </li>
	  <li>
            <a href="../warehouse/space-management-in-warehouse/storage-location-statistics.html">库位统计</a>
      </li>
         </ul>
      </li>
	  <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-4">库存分析</a>
         </h3>
         <ul id="collapse-10-4" class="collapse in menu-item-opened">	  
      <li>
            <a href="../warehouse/reserve-analysis/stock-statistics.html">实时库存统计</a>
      </li>
	  <li>
            <a href="../warehouse/reserve-analysis/income-issue-save.html">收发存汇总表</a>
      </li>
         </ul>
      </li>
   </ul>
  </div>
  <div id="workspace" class="span10">   
   <h1>查询系统消息</h1>
   <div>
    <form class="vertical-inline-form" id="qForm" name="qForm" action="workbench/alarm/listalarm" method="GET" novalidate="novalidate">    
        <fieldset>        
            <div class="control-group success">
                <label class="control-label" for="level">状态</label>
                <div class="controls">
                    <select id="status" name="status" class="span3" style="width:83%">        
	                    <option value="">-- 所有状态 -- </option>
	                    <option value="1" >未清除</option> 
	                    <option value="2">已清除</option>  
	                </select>
			     </div>
            </div> 
            <div class="control-group">
                <label class="control-label">消息产生日期</label>    
	            <div class="controls">
	            		<div class="row-fluid">
		   	                    <input type="text" class="span5 date-pick hasDatepicker" placeholder="开始日期" id="start_date" name="start_date" value="2012-04-29">
		   	                <span class="right">~</span>
		   	                    <input type="text" class="span5 date-pick hasDatepicker" placeholder="结束日期" id="end_date" name="end_date" value="2013-04-28">
   	                	</div>
   	            </div>
	        </div>
            <div class="control-group">
                <div class="controls">
                    <label class="control-label">&nbsp;</label>
                    <div class="controls">
                        <a class="btn" href="#">查询</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="items">   
	  <div class="toolbar">
		  <a href="#" onclick="" class="btn">导出查询结果</a>
		  <a href="#" onclick="" class="btn">导出后台日志</a>
	  </div>
    
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>消息名称</th>
                    <th>详细信息</th>
                    <th style="min-width:40px;">状态</th>
                    <th>产生时间</th>
                    <th style="min-width:60px;">清除时间</th>
                    <th style="min-width:60px;">操作</th>
                </tr>
            </thead>
            <tbody>
                        <tr><td colspan="6" style="font-size:12px;">没有数据</td></tr>       
            </tbody>
        </table>
    </div>
    <form id="clearAlarmForm" action="workbench/alarm/clearalarm" method="POST">
        <input type="hidden" name="objId" id="objId">
    </form>
     <form id="downloadAlarmForm" action="workbench/alarm/downloadalarms" method="GET">
        <input type="hidden" name="objId" id="objId">
    </form>
     <form id="expForm" action="workbench/alarm/exportalarms" method="get">
	<input type="hidden" id="expStatus" name="expStatus">
	<input type="hidden" id="expStartdate" name="expStartdate">
	<input type="hidden" id="expEnddate" name="expEnddate">
    </form>
	  <div class="toolbar">
	      <a href="#" onclick="exportalarms();" class="btn">导出查询结果</a>  
	      <a href="#;" onclick="downloadalarms();" class="btn">导出后台日志</a> 
	  </div>    
</div>

 
  </div> 
  </div>
  </div>
    
 
<p class="row-fluid" id="footer">	 
	<a href="to_do.html" >帮助中心</a>&nbsp;|&nbsp;
    <a href="to_do.html" >更新日记</a>&nbsp;|&nbsp;
    <a href="to_do.html" >意见反馈</a><br>
当前版本：v1.0.0<br>
</p>


<div class="modal" id="myModal" style="display:none;">
   <div class="modal-header">
      <button class="close" data-dismiss="modal" onclick="clearPass();">×</button>
      <h3>修改个人密码</h3>
   </div>
   <div class="modal-body">
      <form class="form-horizontal" id="resetPasswordForm" name="resetPasswordForm" onsubmit="return false;" novalidate="novalidate">
	    <fieldset>
	      <div class="control-group">
	        <label class="control-label"><em class="required">*</em>旧密码</label>
	        <div class="controls">
           	  <input class="span6" type="password" id="oldPassword" name="oldPassword" maxlength="16">
           	</div>
           	<div class="controls">
	          <p class="help-block">用户当前的登录密码，由6-16个字母、数字或下划线组成</p>
	        </div>
	      </div>
	      <div class="control-group">
	        <label class="control-label"><em class="required">*</em>新密码</label>
	        <div class="controls">
              <input class="span6" type="password" id="newPassword" name="newPassword" maxlength="16" "="">
            </div>
            <div class="controls">
	          <p class="help-block">用户新的登录密码，由6-16个字母、数字或下划线组成</p>
	        </div>
	      </div>
	      <div class="control-group">
	        <label class="control-label"><em class="required">*</em>确认密码</label>
	        <div class="controls">
	          <input class="span6" type="password" id="affirmPassword" name="affirmPassword" maxlength="16">
	        </div>
	        <div class="controls">
	          <p class="help-block">确认密码必须和新密码一致</p>
	        </div>
	      </div>
	    </fieldset>
	  </form>
   </div>
   <div class="modal-footer">
      <a href="javascript:void(0)" onclick="submitResetPassword();" class="btn btn-large">确认</a>
      <a data-dismiss="modal" class="btn btn-large" onclick="clearPass();">取消</a>
   </div>
</div>



<div class="modal hide fade" id="product-modal">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3>物料选择</h3>
    </div>
    <div class="modal-body">
    	<iframe frameborder="0" id="product-frame" name="product-frame"></iframe>
    </div>
    <div class="modal-footer">
    </div>
</div>
<div class="modal hide fade" id="location-modal">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3>库位选择</h3>
    </div>
    <div class="modal-body">
    	<iframe frameborder="0" id="location-frame" name="location-frame"></iframe>
    </div>
    <div class="modal-footer">
    </div>
</div>

<script src="../../libraries/jquery/1.9.1/jquery-1.9.1.js"></script>
<script src="../../libraries/jquery/1.9.1/jquery-ui-1.10.2.custom.min.js"></script>
<script src="../../libraries/bootstrap/2.3.1/js/bootstrap.js"></script>  
<script src="../../libraries/jquery.validation/1.11.0/jquery.validate.js"></script> 
<script src="../../libraries/jquery.validation/1.11.0/additional-methods.js"></script>
<script src="../../libraries/jquery.validation/1.11.0/messages_zh.js"></script>
<script src="../../javascripts/ui/jquery-ui.js"></script>
<script src="../../javascripts/jquery.ui.datepicker-zh-CN.js"></script>
<script src="../../javascripts/custom/utils.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$("#start_date").datepicker();
	$("#end_date").datepicker();
	

});
</script>


</body>
</html>