<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><head>
<meta charset="utf-8">
<title>工作台 | 仓储条码管理信息系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="../../..">

<link rel="stylesheet" href="libraries/bootstrap/2.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="libraries/bootstrap/2.3.1/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="stylesheets/css/dtree.css">
<link rel="stylesheet" href="stylesheets/css/jquery-ui-1.10.2.custom.css">
<link rel="stylesheet" href="stylesheets/css/jquery-ui.css">
<link rel="stylesheet" href="stylesheets/css/application-0.1.0.css">
</head>
<body>
<div class="container-fluid">
  <div id="header" class="row-fluid">    
    <h1 id="logo" class="span2"></h1>
	<ul id="navbar" class="span7">
	<li class="active"><a href="templates/warehouse/input/arrival-notice.html" list="list_0">仓库管理</a></li>
	<li><a href="templates/valueadded-services/spectrum-detection.html" list="list_1">增值业务</a></li>
	<li><a href="templates/basic_config/basis_data/material_manage.html" list="list_2">基础配置</a></li>
	<li><a href="templates/system-security/management-of-user.html" list="list_3">系统安全</a></li>
	</ul>
	<div id="profile" class="span3">
		<i class="icon-user"></i>&nbsp;<a data-toggle="modal" data-target="#myModal" href="javascript:void(0);">系统管理员</a>&nbsp;|&nbsp;<a href="templates/others/workbench.html">我的工作台</a>&nbsp;|&nbsp;<a href="templates/others/the_system_message.html">系统消息</a>&nbsp;|&nbsp;<a href="index.html">注销</a>
	</div>
  </div>  
  <div id="content" class="row-fluid">
    
  <div class="span2">
      <ul class="second_list" id="list_2" style="display: block; min-height: 719px;">
      <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-0">入库业务</a>
         </h3>
         <ul id="collapse-10-0" class="collapse in menu-item-opened">
      <li>
            <a href="templates/warehouse/input/arrival-notice.html">到货预告</a>
      </li>
      <li class="active">
            <a href="templates/warehouse/input/warehouse-input.html">采购入库</a>
      </li>
	  <li>
            <a href="templates/warehouse/input/withdrawing-application.html">退料入库</a>
      </li>
      <li>
            <a href="templates/warehouse/input/mrr-report.html">MRR报告</a>
      </li>
         </ul>
      </li>
      <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-1">出库业务</a>
         </h3>
         <ul id="collapse-10-1" class="collapse in menu-item-opened">
      <li>
            <a href="templates/warehouse/output/an-application-form.html">领料申请</a>
      </li>
      <li>
            <a href="templates/warehouse/output/warehouse-output.html">领料出库</a>
      </li>
         </ul>
      </li>
	  <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-2">UOSD</a>
         </h3>
         <ul id="collapse-10-2" class="collapse in menu-item-opened">
      <li>
            <a href="templates/warehouse/uosd/uosd-report.html">UOSD报告</a>
      </li>
         </ul>
      </li>
	  <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-3">库存盘点</a>
         </h3>
         <ul id="collapse-10-3" class="collapse in menu-item-opened">
      <li>
            <a href="templates/warehouse/inventory-verification/take-stock.html">盘点任务</a>
      </li>
	  <li>
            <a href="templates/warehouse/inventory-verification/take-stock-report.html">盘点报告</a>
      </li>
         </ul>
      </li>
      <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-4">库位管理</a>
         </h3>
         <ul id="collapse-10-4" class="collapse in menu-item-opened">
	  <li>
            <a href="templates/warehouse/space-management-in-warehouse/storage-location-planning.html">库位规划</a>
      </li>
	  <li>
            <a href="templates/warehouse/space-management-in-warehouse/location-adjustment.html">物料移库</a>
      </li>
	  <li>
            <a href="templates/warehouse/space-management-in-warehouse/storage-location-statistics.html">库位统计</a>
      </li>
         </ul>
      </li>
	  <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-5">库存分析</a>
         </h3>
         <ul id="collapse-10-5" class="collapse in menu-item-opened">	  
      <li>
            <a href="templates/warehouse/reserve-analysis/stock-statistics.html">实时库存统计</a>
      </li>
	  <li>
            <a href="templates/warehouse/reserve-analysis/income-issue-save.html">收发存汇总表</a>
      </li>
         </ul>
      </li>
   </ul>
  </div>


  <div id="workspace" class="span10">   
 <h1><span id='title'></span>采购入库</h1>
	<form class="form-horizontal" id="objBean" name="objBean" action="market/org/createorg" method="POST" novalidate="novalidate">
  <fieldset>
    <div class="control-group" >
      <label class="control-label" for="departmentId"><em class="required">*</em>供应商</label>
      <div class="controls">
        <input id="customerId" class="span6" name="customerId" type="text" value="" readonly="readonly" placeholder="点击右侧按钮，选择供应商">
		<a class="btn product-catagory-query" selector="#productId" selectproduct="false" framesrc="basicdata/material/getproductbyid?selector=%23productId&amp;selectProduct=false" style="margin-left:-38px;">...</a>
      </div>
    </div>
    <div class="control-group" >
      <label class="control-label" for="departmentId"><em class="required">*</em>发货日期</label>
      <div class="controls success">
	    <div class="row-fluid">
   	        <input type="text" class="span6 datepicker " 
			placeholder="发货日期" id="start_date" name="start_date" value="2013-04-01">   	                 
   	    </div>
   	   </div>
    </div>
	<div class="control-group" >
      <label class="control-label" for="departmentId"><em class="required">*</em>验收单位</label>
      <div class="controls">
        <input class="span6" type="text" id="verifier" name="verifier" maxlength="50" placeholder="" >
      </div>
    </div>
	<div class="control-group" >
      <label class="control-label" for="departmentId"><em class="required">*</em>验收日期</label>
      <div class="controls success">
	    <div class="row-fluid">
   	        <input type="text" class="span6 datepicker 
			placeholder="开始日期" id="start1_date" name="start_date" value="2013-04-01">   	                 
   	    </div>
   	   </div>
    </div>
	<div class="control-group" >
      <label class="control-label" for="departmentId"><em class="required">*</em>入库日期</label>
      <div class="controls success">
	    <div class="row-fluid">
   	        <input type="text" class="span6 datepicker " 
			placeholder="开始日期" id="start2_date" name="start_date" value="2013-04-01">   	                 
   	    </div>
   	   </div>
    </div>
	<div class="control-group" >
      <label class="control-label" for="departmentId">备注</label>
      <div class="controls">
        <input class="span6" type="text" id="appendix" name="appendix" maxlength="50" placeholder="" >
      </div>
    </div>
    <div class="control-group">
	 <div class="controls">
      <a class="btn btn-large" href="templates/warehouse/input/warehouse-input.html">确认</a>
      <a class="btn btn-large" href="templates/warehouse/input/warehouse-input.html">取消</a>
	 </div>  
    </div>
  </fieldset>
</form> 
 </div> 
  </div>
  </div>
    
    <p class="row-fluid" id="footer">
    </p>


<div class="modal" id="myModal" style="display:none;">
   
</div>



 
<script src="libraries/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script src="libraries/jquery/1.9.1/jquery-ui-1.10.2.custom.min.js"></script>
<script src="libraries/bootstrap/2.3.1/js/bootstrap.min.js"></script>  
<script src="libraries/jquery.validation/1.11.0/jquery.validate.js"></script> 
<script src="libraries/jquery.validation/1.11.0/additional-methods.js"></script>
<script src="libraries/jquery.validation/1.11.0/messages_zh.js"></script>
<script src="javascripts/ui/jquery-ui.js"></script>
<script src="javascripts/jquery.ui.datepicker-zh-CN.js"></script>
<script src="javascripts/custom/utils.js"></script>

<script type="text/javascript">
function initialize(){
  
	//show date control
	$("#start_date").datepicker();
	$("#start1_date").datepicker();
	$("#start2_date").datepicker();	
	
	// validate parameter 
	$('#objBean').validate({
      rules : {
       verifier: 
       {
         required: true,
         rangelength:[1,50],		 	 
       },	   
	   appendix:
	   {
		  rangelength:[0,50]
	   },
       type: "required"  
    },
  });
}

function loadComponent()
{
	$("#footer").load("templates/component/bottom.html");
	$("#header").load("templates/component/head.html");
	$("#myModal").load("templates/component/system_admin.html");
	<!--$("#myModal").load("templates/component/sys-admin.html");-->
}
</script> 

<script type="text/javascript">
$(document).ready(function(){

	loadComponent();
	if ('function' === typeof(initialize)){
		initialize();
	}
	
	
	

});
</script>


</body>
</html>