<html>
<head>
<meta charset="utf-8">
<title>工作台 | 仓储条码管理信息系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="stylesheet" href="../../libraries/bootstrap/2.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../../libraries/bootstrap/2.3.1/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="../../stylesheets/css/dtree.css">
<link rel="stylesheet" href="../../stylesheets/css/jquery-ui-1.10.2.custom.css">
<link rel="stylesheet" href="../../stylesheets/css/jquery-ui.css">
<link rel="stylesheet" href="../../stylesheets/css/application-0.1.0.css">


</head>
<body>
<div class="container-fluid">
  <div id="header" class="row-fluid">
    <h1 id="logo" class="span2"></h1>
    <ul id="navbar" class="span7">
         <li><a href="../warehouse/input/arrival-notice.html" list="list_0">仓库管理</a></li>
         <li><a href="../valueadded-services/spectrum-detection.html" list="list_1">增值业务</a></li>
         <li><a href="../basic_config/basis_data/material_manage.html" list="list_2">基础配置</a></li>
         <li  class="active"><a href="management-of-user.html" list="list_3">系统安全</a></li>
    </ul>
    <div id="profile" class="span3">
      <i class="icon-user"></i>&nbsp;<a data-toggle="modal" data-target="#myModal" href="javascript:void(0);">系统管理员</a>&nbsp;|&nbsp;<a href="../others/workbench.html">我的工作台</a>&nbsp;|&nbsp;<a href="../others/the_system_message.html">系统消息</a>&nbsp;|&nbsp;<a href="../../index.html">注销</a>
    </div>
  </div>  
  <div id="content" class="row-fluid">
    
  <div class="span2">
     <ul class="second_list" id="list_2" style="display: block; min-height: 719px;">
      <li>
         <h3>
            <a data-toggle="collapse" data-target="#collapse-10-0">权限管理</a>
         </h3>
		<ul id="collapse-10-0" class="collapse in menu-item-opened">
		<li class="active">
            <a href="management-of-user.html" >管理用户</a>
		</li>	
		<li>
            <a href="user-password-modify.html">修改用户密码</a>
	    </li>
		<li>
            <a href="management-of-user-group.html">管理用户组</a>
	    </li>
       </ul>		 
	</li>
	<li>
		<h3>
            <a data-toggle="collapse" data-target="#collapse-10-1">日志管理</a>
         </h3>
		<ul id="collapse-10-1" class="collapse in menu-item-opened">
		<li>
            <a href="quer-log.html">日志查询</a>
		</li>	
		</ul>
	</li>	  
   </ul>		
  </div>
 <div id="workspace" class="span10">
    <h1>管理用户</h1>
	<form id="deleteFormObj" action="account/user/listalluser" method="POST">
    <input type="hidden" id="hiddenUserId" name="hiddenUserId">
   
    <div class="items">
  <div class="control-group">
  </div>
  <div class="toolbar">
    <a rightid="40010101" norighthandle="remove" href="management-of-user-add.html" class="btn">增加</a>
<div class="pagination pagination-right">
   <form method="get" action="account/user/listalluser" name="pageForm">
      <ul>
         <li class="disabled"><a>共4行</a></li>
         <li class="disabled"><a>&lt;</a></li>
         <li class="active"><a>1</a></li>
         <li class="disabled"><a>&gt;</a></li>
         <input type="hidden" name="pageNo" value="1">
       </ul> 
   </form>
<script language="javascript">
  function turnOverPage(no){
    var qForm= $("form[name='pageForm']");
    if(no>1){no=1;}
    if(no<1){no=1;}
    var submit = 0;
    qForm.each(function(){        
    	$(this).find("input[name='pageNo']").val(no);
    	$(this).attr("action", "account/user/listalluser");
    	if (submit == 0)
    	{
    		$(this).submit();
    		submit = 1;
    	}
    })
 }
</script>
</div> 
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>登录名称</th>        
        <th>用户姓名</th>        
        <th>用户组</th>
        <th>角色</th>
        <th>用户状态</th>
        <th>上次登录时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
          <tr>
            <td><a href="#">xtgly</a></td>         
            <td>系统管理员</td>
            
            <td>
               	  系统管理员
            </td>
            <td>
            </td>
            <td>
                正常
            </td>
            <td>
                2013-05-02 16:20:42
            </td>
            <td>
	            <a rightid="40010102" norighthandle="remove" href="#">修改</a>  
            </td>
          </tr>
          <tr>
            <td><a href="#">gg</a></td>         
            <td>gg</td>
            
            <td>
               	  综合管理员
				  ，
               	  库管员
            </td>
            <td>
              	  库管员            </td>
            <td>
                正常
            </td>
            <td>
                从未登录
            </td>
            <td>
	              <a rightid="40010102" norighthandle="remove" href="#">修改</a><span rightid="40010102" norighthandle="remove"> | </span>
	              <a rightid="40010103" norighthandle="remove" href="##;" onclick="deleteObj('u000005','gg')">删除</a>
            </td>
          </tr>
          <tr>
            <td><a href="#">梁建</a></td>         
            <td>梁建</td>
            
            <td>
               	  库管员
            </td>
            <td>
            </td>
            <td>
                正常
            </td>
            <td>
                从未登录
            </td>
            <td>
	              <a rightid="40010102" norighthandle="remove" href="#">修改</a><span rightid="40010102" norighthandle="remove"> | </span>
	              <a rightid="40010103" norighthandle="remove" href="#" onclick="resetStatus('1', 'u000003')">冻结</a><span rightid="40010103" norighthandle="remove"> | </span>
                  <a rightid="40010104" norighthandle="remove" href="#" onclick="deleteObj('u000003','梁建')">删除</a>
            </td>
          </tr>
          <tr>
            <td><a href="#">zz</a></td>         
            <td>zz</td>
            
            <td>
               	  系统管理员
            </td>
            <td>
              	  系统管理员            </td>
            <td>
                正常
            </td>
            <td>
                从未登录
            </td>
            <td>
	              <a rightid="40010102" norighthandle="remove" href="#">修改</a><span rightid="40010102" norighthandle="remove"> | </span>
	              <a rightid="40010103" norighthandle="remove" href="#" onclick="resetStatus('1', 'u000004')">冻结</a><span rightid="40010103" norighthandle="remove"> | </span>
                  <a rightid="40010104" norighthandle="remove" href="#" onclick="deleteObj('u000004','zz')">删除</a>
            </td>
          </tr>
      </tbody>
   </table>
</div> 
 </div> 
  </div>
  </div>
   
    <p class="row-fluid" id="footer">
    <a href="../others/to_do.html">帮助中心</a>&nbsp;|&nbsp;
    <a href="../others/to_do.html" >更新日记</a>&nbsp;|&nbsp;
    <a href="../others/to_do.html">意见反馈</a><br>
当前版本：v1.0.0<br>  </p>


<div class="modal" id="myModal" style="display:none;">
   <div class="modal-header">
      <button class="close" data-dismiss="modal" onclick="clearPass();">×</button>
      <h3>修改个人密码</h3>
   </div>
   <div class="modal-body">
      <form class="form-horizontal" id="resetPasswordForm" name="resetPasswordForm" onsubmit="return false;" novalidate="novalidate">
	    <fieldset>
	      <div class="control-group">
	        <label class="control-label"><em class="required">*</em>旧密码</label>
	        <div class="controls">
           	  <input class="span5" type="password" id="oldPassword" name="oldPassword" maxlength="16">
           	</div>
           	<div class="controls">
	          <p class="help-block">用户当前的登录密码，由6-16个字母、数字或下划线组成</p>
	        </div>
	      </div>
	      <div class="control-group">
	        <label class="control-label"><em class="required">*</em>新密码</label>
	        <div class="controls">
              <input class="span5" type="password" id="newPassword" name="newPassword" maxlength="16" "="">
            </div>
            <div class="controls">
	          <p class="help-block">用户新的登录密码，由6-16个字母、数字或下划线组成</p>
	        </div>
	      </div>
	      <div class="control-group">
	        <label class="control-label"><em class="required">*</em>确认密码</label>
	        <div class="controls">
	          <input class="span5" type="password" id="affirmPassword" name="affirmPassword" maxlength="16">
	        </div>
	        <div class="controls">
	          <p class="help-block">确认密码必须和新密码一致</p>
	        </div>
	      </div>
	    </fieldset>
	  </form>
   </div>
   <div class="modal-footer">
      <a href="javascript:void(0)" onclick="submitResetPassword();" class="btn btn-large">确认</a>
      <a data-dismiss="modal" class="btn btn-large" onclick="clearPass();">取消</a>
   </div>
</div>



<div class="modal hide fade" id="product-modal">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3>物料选择</h3>
    </div>
    <div class="modal-body">
    	<iframe frameborder="0" id="product-frame" name="product-frame"></iframe>
    </div>
    <div class="modal-footer">
    </div>
</div>
<div class="modal hide fade" id="location-modal">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3>库位选择</h3>
    </div>
    <div class="modal-body">
    	<iframe frameborder="0" id="location-frame" name="location-frame"></iframe>
    </div>
    <div class="modal-footer">
    </div>
</div>


 

<script src="../../libraries/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script src="../../libraries/jquery/1.9.1/jquery-ui-1.10.2.custom.min.js"></script>
<script src="../../libraries/bootstrap/2.3.1/js/bootstrap.min.js"></script>  
<script src="../../libraries/jquery.validation/1.11.0/jquery.validate.js"></script> 
<script src="../../libraries/jquery.validation/1.11.0/additional-methods.js"></script>
<script src="../../libraries/jquery.validation/1.11.0/messages_zh.js"></script>
<script src="../../javascripts/ui/jquery-ui.js"></script>
<script src="../../javascripts/jquery.ui.datepicker-zh-CN.js"></script>


<script type="text/javascript">
	
function loadComponent()
{
	$("#footer").load("src/component/bottom.html");
	<!--$("#header").load("src/component/head.html");-->
	
	<!--$("#myModal").load("src/component/sys-admin.html");-->
}
</script>

<script type="text/javascript">
$(document).ready(function(){
	
	loadComponent();
	
	$("#start_date").datepicker();
	$("#end_date").datepicker();
	
	
	

});
</script>



</body>
</html>