
<h1 id="logo" class="span2"></h1>
<ul id="navbar" class="span7">
	<li><a href="templates/warehouse/input/arrival-notice.html" list="list_0">仓库管理</a></li>
	<li><a href="templates/valueadded-services/spectrum-detection.html" list="list_1">增值业务</a></li>
	<li><a href="templates/basic_config/basis_data/material_manage.html" list="list_2">基础配置</a></li>
	<li><a href="templates/system-security/management-of-user.html" list="list_3">系统安全</a></li>
</ul>
<div id="profile" class="span3">
	<i class="icon-user"></i>&nbsp;<a data-toggle="modal" data-target="#myModal" href="javascript:void(0);">系统管理员</a>&nbsp;|&nbsp;<a href="templates/others/workbench.html">我的工作台</a>&nbsp;|&nbsp;<a href="templates/others/the_system_message.html">系统消息</a>&nbsp;|&nbsp;<a href="index.html">注销</a>
</div>


<script>
$("a[href='templates/warehouse/input/arrival-notice.html']:contains(仓库管理)").parent().attr("class","active");
</script>

